@import '../styles/typography.scss';
@import '../styles/responsive.scss';
@import '../styles/colors.scss';


.container {
  padding-top: 12rem;
  padding-bottom: 3rem;
  max-width: 120rem;
  margin: 0px auto;

  @include breakPoint {
    padding: 0 3.2rem;
    padding-top: 10rem;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 58.8rem;
  color: var(--gray50);

  @include breakPoint {
    max-width: 100%;
  }

  .title {
    @include headingOne;
  }

  .description {
    color: var(--gray300);
    @include bodyRegular;

    span {
      color: var(--primary300);
    }
  }

}

.tabFilter {
  display: flex;
  margin-top: 8rem;
}

.inputTxt {
  margin-top: 2.4rem;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 2.4rem 0;
  color: var(--gray400);

  strong {
    @include headingThree;
  }

  span {
    @include bodyRegular;
  }
}
.MovieGalery {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;

  @include breakPoint {
    flex-direction: column;
    
    justify-content: center;
  }
}
.inputContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1.2rem 1.6rem;
  gap: 1.6rem;

  height: 6.4rem;
  width: 60%;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  border: 0.1rem solid var(--gray700);

  img {
    width: 2.4rem;
    height: 2.4rem;

  }

  input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem;
    outline: none;

    width: 27.2rem;
    height: 4.0rem;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    @include caption;
    color: var(--gray50);


    &::placeholder{
      color: var(--gray600);
    }


  }
}